.Fecha{
    align-items: center;
    justify-content: center;
    color: #944F2F !important;
}

.titu{
        color: #aa6d4f !important;
        margin-top: 20px;
}

.subtitu{
    color: #aa6d4f !important;
}
.contenedor{
    background-color: #1A2027;
}

@media only screen and (max-width: 600px) {
    .contenedor2 {
      width: 340px !important;
    }
  }