.Fecha{
    align-items: center;
    justify-content: center;
    color: #944F2F !important;
}

.titu{
        color: #aa6d4f !important;
        margin-top: 20px;
}

.subtitu{
    color: #aa6d4f !important;
}